/* 
    Document   : style
    Created on : Oct 9, 2011, 7:40:21 PM
    Author     :     Twitter Debate, v0.0
    By Christopher Blair, Patrick McAuliffe, Balasaheb Bagul, Jane Janeczko, and Michael Madaus
    EECS 338 Practicum in Intelligent Information Systems (Fall 2011)

    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

root { 
    display: block;
}
/*
Design by http://www.templateaccess.com
Released for free under a Creative Commons Attribution 3.0 License
*/
@charset "utf-8";
body {
    margin:0;
    padding:0;
    width:100%;
    color:#959595;
    font:normal 12px/1.8em Arial, Helvetica, sans-serif;
}

html, .main { 
    padding:0;
    margin:0;
    background:#fff;
}

.clr {
    clear:both;
    padding:0;
    margin:0;
    width:100%;
    font-size:0px;
    line-height:0px;
}

.title {
    background-color:lightGrey;
    color:grey;
    width: 100%;
    padding-left: 25px;
    padding-top: 35px;
    padding-bottom: 25px;
    font-size: 50px;
}

.accountTitle {
    font-size: 30px;
    font-weight: bold;
    padding-top: 15px;
    padding-bottom:10px;
    border-bottom: 3px solid lightGrey;
/*    border-left: 1px solid lightGrey;*/
}

.tweetCell {
    border-bottom: 1px solid lightGrey;
    margin-bottom: 5px;
}